<footer class="container-fluid m-auto p-sm-5 footer">
  
  <div>
    <img alt="Spring logo" th:src="@{/images/spring.png}" width="50px" height="50px" class="float-left mx-1">
    <p class="text-secondary m-auto">
      Powered by <a href="https://spring.io/">Spring 5.1.3</a> Proyecto desarrollado en Spring Plugins(STS Spring Tool 4.5) + SpringBoot
      2.2, {{autor.nombre +' '+ autor.apellidos}}, company {{autor.company}} {{autor.anio}},Inc. Todos los derechos reservados. Terminos de uso y privacidad
   </p>
  </div>
    
</footer>