<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">{{ err }}</li>
  </ul>
  <div class="card">
    <div class="card-header">
      <h4>{{ titulo }}</h4>
    </div>
  
    <div class="card-body">
  
      <mat-dialog-content >
        <form #puestoForm="ngForm">
  
          <div class="form-group row">
            <label for="id" class="col-sm-4 col-form-label">
              <h5>Id</h5>
            </label>
            <div class="col-sm-8">
              <input name="id" class="form-control" [(ngModel)]="puesto.id" disabled />
            </div>
          </div>
    
          <div class="form-group row">
            <label for="nombre" class="col-sm-4 col-form-label">
              <h5>Nombre</h5>
            </label>
            <div class="col-sm-8">
              <input name="nombre" class="form-control" [(ngModel)]="puesto.nombre" required />
            </div>
          </div>
  
        </form>
      </mat-dialog-content>
  
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-primary mx-2" (click)="createPuesto()" *ngIf="!puesto.id else elseBlock" [disabled]="!puestoForm.form.valid">Crear</button>
        <ng-template #elseBlock>
            <button mat-button mat-dialog-close class="btn btn-primary mx-2" (click)="updatePuesto()" [disabled]="!puestoForm.form.valid">actualizar</button>
          </ng-template>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
  
    </div>
  </div>