<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">{{ err }}</li>
</ul>
<div class="card">
  <div class="card-header">
    <h4>{{titulo}}</h4>
  </div>

  <div class="card-body">

    <mat-dialog-content >
      <form #problemaForm="ngForm">

        <div class="form-group row">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Id</mat-label>
            <input matInput [(ngModel)]="problema.id" name="id" disabled placeholder="Placeholder">
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripcion</mat-label>
            <input name="nombre" matInput [(ngModel)]="problema.descripcion" placeholder="Placeholder">
          </mat-form-field>
        </div>

      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="btn btn-sm btn-primary mx-2" (click)="create()" *ngIf="!problema.id else elseBlock" [disabled]="!problemaForm.form.valid">Crear</button>
      <ng-template #elseBlock>
          <button mat-button mat-dialog-close class="btn btn-sm btn-primary mx-2" (click)="update()" [disabled]="!problemaForm.form.valid">actualizar</button>
        </ng-template>
      <button mat-button mat-dialog-close class="btn btn-sm btn-warning">Cancel</button>
    </mat-dialog-actions>

  </div>
</div>